@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{font-family: 'Poppins', sans-serif; margin: 0;}
*{padding: 0; box-sizing: border-box; margin: 0}

button{font-family: inherit; font-size: 1em; border: none; padding: 1vh 3vh; border-radius: 1vmin; cursor: pointer;}
nav{text-align: center; background-color: antiquewhite; padding: 1vh;}
.contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;
    width: 50%;
    margin: 0 auto;
    padding: 1em;
}
.modal{
    /* display: none; */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
#modal-content{
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 55%;
    border-radius: 15px;
    box-shadow: 0px 6px 20px 0 rgba(0, 0, 0, 0.15);
    -webkit-animation-name: animateModal;
    -webkit-animation-duration: 0.4s;
    animation-name: animateModal;
    animation-duration: 0.4s;
}

.modal-header{
    padding: 20px 16px;
    background-color: black;
    color: white;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}

.headerdiv{
    display: flex; flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.headerdiv h2{
    flex-grow: 1;
}


.modal-body{
    padding: 30px;
}

.close{
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;

}

.close:hover, .close:focus{
    color: white; text-decoration: none; cursor: pointer;
}

.queue-info{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 30% 60%;
    justify-content: space-around;
    margin: auto;
    width: 90%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.queue-info input{
    border: 0;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    font-family: inherit;

}

.listcontainer{
    width: 90%;
    display: flex;
    align-items: center;
}
ul{list-style: none; width: 100%;}
li{border: 2px solid black; margin: 10px; text-align: center; background-color: white;}

@-webkit-keyframes animateModal{
    from{top:-300px; opacity: 0;}
    to{top: 0; opacity: 1;}
}

@keyframes animateModal{
    from{top:-300px; opacity: 0;}
    to{top: 0; opacity: 1;}
}

